<h1>Simple Blog</h1>

<%= link_to 'Add post', new_post_path %>

<ul class='posts'>
  <% @posts.each do |post| %>
    <li>
      <h3 class='post__title'><%= link_to post.title, post_path(post.id) %></h3>
      <p><%= post.body %></p>
    </li>
  <% end %>
<ul>
